.projects {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1.75em;
}
.project {
    display: flex;
    gap: 10px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.125);
    position: relative;
    background: radial-gradient(#2c2a23 50%, #2d2814 100%);
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}
.project:hover{
    transform: scale(1.05);
}
.project img {
    width: 100%;
    object-fit: contain;
    background: fixed;
    transform: scale(1.3);
    transition: 0.3s ease-out;
}
.project:hover img {
    opacity: 0.3;
}
.overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 15px;
    text-align: center;
    color: #fff;
}
.text-h1,
.text-p {
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease-out;
}
.link-a {
    display: inline-block;
    background: rgb(244, 178, 25);
    margin-block-start: 1.5rem;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
    transform: translateY(30px);
    opacity: 0;
    transition: all .3s ease-out 0.4s;
}
.overlay .link-a:hover {
    background: orange;
}
.project:hover .overlay .text-h1,
.project:hover .overlay .text-p,
.project:hover .overlay .link-a {
    opacity: 1;
    transform: translateY(0);
}